.input {
  &__item {
    display: block;
    margin-bottom: 20px;
    input {
      width: 100%;
    }

    input {
      display: block;
      width: 100%;
      padding: 15px;

      background: none;
      border: 3px solid #fff;
    }

    label {
      display: block;
      margin-bottom: 10px;

      font-size: 22px;
      font-weight: 700;
      color: #fff;
    }

    span {
      display: inline-block;
      margin-top: 10px;
      font-size: 18px;
      font-weight: 600;
      color: red;
      text-transform: uppercase;
    }

    &.invalid {
      label {
        border-color: red;
      }
    }
  }
}
