.quiz {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 100px 0;
  flex: 1 1 auto;

  background: linear-gradient(
    90deg,
    rgba(36, 31, 0, 1) 0%,
    rgba(26, 9, 121, 1) 0%,
    rgba(0, 212, 255, 1) 64%
  );

  &__main {
    display: block;
    width: 100%;
    max-width: 400px;
    padding: 20px;

    border: 5px solid #fff;
    border-radius: 5px;
  }

  &__title {
    display: block;
    width: 100%;

    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: #fff;
  }

  &__content {
    margin-top: 40px;
    display: flex;
    justify-content: center;
  }
}
